.header {
    background-color: var(--white);
    padding: 96px 0 77px;
}

.header__title {   
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    color: var(--black);
}

.header_component {
    background-color: #F9FAFC;
}

@media (max-width: 767px) {
    .header {
        padding: 48px 16px 69px;
    }

    .header__title {
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;
        color: var(--grey-4);
    }
}