.card {
    width: 350px;
    height: 367px;
    background: var(--white);
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 30px;
}

.card__title {   
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: var(--black);
    margin: 0;
}