.accordion {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.accordion__item {
    padding: 24px 32px;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    margin-bottom: 8px;
}

.accordion__item:last-child {
    margin-bottom: 0;
}

.accordion__summary {
    color: var(--black);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.accordion__summary::-webkit-details-marker, 
.accordion__summary::marker {
    display: none;
    content: "";
}

.accordion__details {
    color: var(--grey-4);
}

.accordion__item[open] .accordion__details {
    padding: 16px 0px 8px;
}

.accordion__item[open] .icon {
    transform: rotate(180deg);
}
.icon {
    height: 24px;
    width: 24px;
    fill: var(--grey-4);
}