.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    background-color: rgba(196, 196, 196, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal__popup {
    position: relative;
    width: 428px;
    max-height: calc(100vh - 80px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 30px 40px 33px;
    background-color: var(--white);
}

.modal__title {
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: var(--grey-4);
    margin: 0;
}

.modal__body {
    margin-top: 14px;
    color: var(--grey-4);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.icon {
    height: 24px;
    width: 24px;
    fill: var(--grey-4);
}