.histogram {
    background-color: var(--white);
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding: 16px 24px 24px;
    display: flex;
    flex-direction: column;
    gap: 39px;
}
  
.histogram__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
  
.histogram__score {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
  
.histogram__title {
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    opacity: 0.8;
}
  
.histogram__count {
    font-size: 20px;
    line-height: 26px;
    color: var(--black);
}

.histogram__link {
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: var(--blue);
    margin-top: 3px;
    text-decoration: none;
}

.histogram__columns {
    display: flex;
    align-items: flex-end;
    gap: 1px;
    height: 50px;
    flex-grow: 1;
}

.histogram__color {
    background-color: var(--blue);
}

.histogram__column_full {
    height: 100%;
}

.histogram__column_large {
    height: 75%;
}

.histogram__column_medium {
    height: 50%;

}

.histogram__column_small {
    height: 25%;
}