.page {
    background-color: #f9fafc;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.page__main {
   
}

.page__main-content {
    max-width: var(--container-width);
    justify-content: center;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 56px;
}

@media (max-width: 767px) {
    .page__main-content {
        display: block
    };
}