.skeleton {
  background-color: var(--white);
  padding: 24px 40px 32px 24px;
  border: 1px solid var(--grey-3);
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 24px;
  }
  
.skeleton__header {
  display: flex;
  align-items: center;
  gap: 16px;
}
  
.skeleton__circle {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
  
.skeleton__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1;
}
  
.skeleton__line {
  background-color: var(--grey-2);
  height: 20px;
}
  
.skeleton__line_medium {
  width: 50%;
}
  
.skeleton__line_small {
  width: 35%;
}

.skeleton__circle,
.skeleton__line {
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: backgroundMovement;
  animation-timing-function: linear;
  background: linear-gradient(267.58deg, var(--grey-2) 0%, var(--grey-1) 80%, var(--grey-2) 100%);
  background-size: 200%;
  display: inline-block;
}

@keyframes backgroundMovement {
  0% {
      background-position: 100%;
  }

  100% {
      background-position: -100%;
  }
}
