.footer {
    background-color: var(--white);
    color: var(--black);
    padding: 72px 0 136px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.footer__title {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
}

.footer__content {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    max-width: 640px;
}

@media (max-width: 376px) {
    .footer {
        display: none;
    }
}