.footer {
    background-color: var(--white);
    color: var(--black);
    padding: 72px 0 136px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.footer__title {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
}

.footer__content {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    max-width: 640px;
    text-align: center;
}

.footer_component {
    background-color: #F9FAFC;
}

.footer__title-component {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--grey-3);
}
@media (max-width: 767px) {
    .footer {
        display: none;
    }
}