.burger-menu {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 16px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(249, 250, 252, 1);
    transform: translateX(-100vw);
    transition: transform 250ms ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
  
.burger-menu[data-open] {
    transform: translateX(0);
}
  
.burger-menu__close {
    position: absolute;
    left: 12px;
    top: 16px;
    width: 32px;
    height: 32px;
    border-radius: 50px;
    border: none;
    background-color: var(--grey-2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
}

.burger-menu__icon {
    width: 24px;
    height: 24px;
    color: var(--black);
}

.burger-menu__header {
    padding: 16px 0;
    display: flex;
    justify-content: center;
}

.burger-menu__logo {
    width: 110px;
    height: 32px;
    color: var(--black);
}

.burger-menu__toggler {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    border-top: 1px solid var(--grey-2);
    border-bottom: 1px solid var(--grey-2);
}

.burger-menu__toggler-title {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}

.burger-menu__nav {
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.burger-menu__nav-title {    
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--grey-3);
}

.burger-menu__link {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    text-decoration: none;
}

.burger-menu__link_selected {
    color: var(--red);
}

.burger-menu__link:last-child {
    margin-top: 72px;
}

@media (min-width: 768px) {
    .burger-menu {
        display: none;
    }
}